body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    background-color: whitesmoke;
    padding: 20px; /*pushes border away from content inside to out*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin: 10px;/*pushes stuff outside the border away from it*/
}
.input{
    display: block; /*pushes everything off that line so the item is the only one*/
    width: 100%; /*width of the box its in*/
    box-sizing: border-box; /* so it scales to size of the box its in*/
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px black;
    color: goldenrod;
    font-family: cursive;

}

.input::placeholder{
    color:goldenrod;
    font-family: cursive;
}
.btn{
    background-color: goldenrod;
    color: whitesmoke;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
    cursor: pointer;
}
.btn:hover{
    filter: brightness(0.9); /*changes brigtness when hovered*/
}
.score{
    color: goldenrod;
    text-align: right;
}
