body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    background-color: cyan;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 8px whitesmoke;
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden; /* hides the extra size from btn:hover::before cirlce*/
}
.btn span{
    position: relative;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: cornflowerblue;
    width: 0px; /*starts out at 20px to see where it is while editing colors*/
    height: 0px;
    left: var(xPos);
    top:  var(yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height .5s;
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}